@model Anketa.Models.AnswerModels.AnswerChoiceSingle
@{
    ViewBag.FalseBool = false;
}
@Html.Raw("<li class='choiceItem'>")
<div class="singleChoiceItem">
	@Html.HiddenFor(model => model.choiceId)
	@*<input id=@Html.Raw(Model.choiceId) type="radio" class=" choiceId disabled" value=@Html.Raw(Model.choiceId) />*@
	<label for=@Html.Raw(Model.choiceId)>
		 @Html.EditorFor(model => model.choiceText, new { htmlAttributes = new { @class = "form-control choiceText" , placeholder = "Enter option" } })  
	</label>
	<button class="btn btn-danger glyphicon glyphicon-minus removeChoice" type="button"></button>
</div>
@Html.Raw("</li>")