@model Anketa.Models.AnswerModels.AnswerChoiceSingle
@{
    ViewBag.FalseBool = false;
}
	@Html.HiddenFor(model => model.choiceId)
	<input id=@Html.Raw(Model.choiceId) type="radio" class="disabled" value=@Html.Raw(Model.choiceId)/>
	<label for=@Html.Raw(Model.choiceId)>
		 @Html.EditorFor(model => model.choiceText, new { htmlAttributes = new { @class = "form-control" , placeholder = "Choice will look like this" } })  
	</label>