@model Anketa.Models.SurveyIndexModel
@using Microsoft.AspNet.Identity;
@using Anketa.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Anketa.App_Start;
@using System.Web.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SURVEYS</h1>
    <p class="lead">Create your own survey available for everyone to solve.</p>
    <p>@Html.ActionLink("Surveys", "Survey", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
    
</div>


@*<div class="row">
    @foreach (var item in Model.allSurveysList) {

    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.surveyName)</h2>
        <p>
            @Html.DisplayFor(modelItem => item.surveyDescription)
        </p>
        <p>@Html.ActionLink("Solve", "Solve", new { controller = "Surveys", Id = item.surveyID }, new { @class = "btn btn-success" })></p>
    </div>
    }
</div>*@