@{
    ViewBag.Title = "Surveys";
}
<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a data-toggle="pill" href="#all">All Surveys</a></li>
    <li role="presentation"><a data-toggle="pill" href="#my">My Surveys</a></li>
</ul>


<div class="tab-content">
    <div id="all" class="tab-pane fade in active">
        <h3>All Surveys</h3>
        <p>All Surveys...</p>
    </div>
    <div id="my" class="tab-pane fade">
        <h3>My Surveys</h3>
        <p>My Surveys...</p>
    </div>

</div>