@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext);

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Helper classes for layout */
.mt20{
    margin-top: 20px;
}

footer{
    position: fixed;
    bottom: 0px;
}

@media (min-width: 1200px){
    .container {
        max-width: 970px!important;
    }
}



/*Create new survey style*/

.enter-survey-questions > .panel-body > .input-group{
    margin-bottom: 15px;
}

.enter-survey-questions > .panel-body > .input-group:last-child{
    margin-bottom: 0px;
}


/* Added functional styles *Cubelaster* */
.sortable { list-style-type: none;}

.tooltipControl {
    /* Potrebno za prikaz Tooltipa na pravom mjestu. Here Be Dragons */
    display: inline-block;
}
/* Added functional styles *Cubelaster*  -END */

/* All survey table styling */

#all table.dataTable thead th, 
#all table.dataTable thead td,
#all table.dataTable.no-footer,
#my table.dataTable thead th, 
#my table.dataTable thead td,
#my table.dataTable.no-footer {
    border-bottom: 1px solid #df691a;
}

.dataTables_length select,
.dataTables_filter input{
    padding: 3px;
    color: #333;
    border: 1px solid #2b3e50;
}


div.dataTables_length,
div.dataTables_filter,
div.dataTables_info {
    padding: 10px 18px;
    color: #fff!important;
    font-size: 12px;
}

div.dataTables_paginate {
    padding: 10px 18px;
}

a.paginate_button{
    font-size: 12px;
}

#all-surveys thead tr,
#my-surveysthead tr{
   background-color: #4e5d6c;
}

#all-surveys tbody tr,
#my-surveys tbody tr,
#all-surveys tbody tr td,
#my-surveys tbody tr td{
   background-color: #2b3e50;
}


.paginate_button{
    border: 1px solid #cacaca;
    background-color: #fff;
}

.paginate_button:hover{
    background: #DF691A !important;
    border: 1px solid white !important;
}

#my .paginate_button.current {
    background-color:#5CB85C;
}

#all .paginate_button.current {
    background:#5CB85C;
    color:#fff !important;
}

#questionPlaceholder{
    padding-left:0px;
}

.removeChoice{
    margin-bottom: 5px;
}

.singleAnswers div ul{
    padding-left:0px;
}