@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext);

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Helper classes for layout */
.mt20{
    margin-top: 20px;
}

footer{
    position: fixed;
    bottom: 0px;
}

@media (min-width: 1200px){
    .container {
        max-width: 970px!important;
    }
}



/*Create new survey style*/

.enter-survey-questions > .panel-body > .input-group{
    margin-bottom: 15px;
}

.enter-survey-questions > .panel-body > .input-group:last-child{
    margin-bottom: 0px;
}


/* Added functional styles *Cubelaster* */
.sortable { list-style-type: none;}

.tooltipControl {
    /* Potrebno za prikaz Tooltipa na pravom mjestu. Here Be Dragons */
    display: inline-block;
}
/* Added functional styles *Cubelaster*  -END */